@use "base/variables" as v;
@use "base/mixins" as m;

.detalle {
  background-color: v.$blancoCrema;
  .overflow {
    position: relative;
    height: 192px;
    overflow: hidden;
  }
  .detalle-imagen {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .informacion {
    padding: 16px;
    .titulo {
      margin: 0;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
    }

    .precio {
      margin: 8px 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .otros-productos {
    padding: 16px 16px 0 16px;

    h2 {
      margin-bottom: 16px;
      font-size: 22px;
    }
  }
}
