@use "base/variables" as v;
@use "base/mixins" as m;

.formulario-registro {
  background: v.$blancoCrema;
  form {
    padding: 16px;
    display: flex;
    flex-direction: column;

    gap: 16px;
    .titulo {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      text-align: center;
    }
    input {
      background-color: v.$blanco;
      height: 56px;
      width: 100%;
      border: none;
      border-radius: 4px;
      padding-left: 15px;
    }
    select {
      background-color: v.$blanco;
      height: 56px;
      width: 100%;
      border: none;
      border-radius: 4px;
      padding-left: 15px;
    }
    textarea {
      background-color: v.$blanco;
      height: 82px;
      width: 100%;
      border: none;
      border-radius: 4px;
      padding-left: 15px;
    }
    button {
      height: 51px;
      background-color: v.$azul;
      color: v.$blanco;
      border: none;
      cursor: pointer;
    }

    span {
      width: 100%;
      text-align: left;
      color: red;
      margin: 1rem;
    }

    @include m.tablet {
      padding: 32px;
    }

    @include m.desktop {
      padding: 64px 0;
      margin: auto;
      width: 559px;

      .titulo {
        text-align: left;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
}
